.App {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.btn-menu{
    width: 10em;
    height: 3em;
    background: transparent;
    color: rgb(255, 145, 0);
    font-size: 20px;
    font-weight: 600;
    border:2.5px solid rgb(255, 145, 0);
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}
.btn-menu:hover{
    background-color: rgb(236, 171, 110);
    color:rgb(255, 255, 255);
}
#data{
  display: none;

}
body{
  background: url(./back2.jpg) center center fixed;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  padding: 0;
  margin: 0;
}
#welcome{
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-top: 200px;
  padding: 50px;
  color:white;
}
#data{
  color: antiquewhite;
  font-weight: 600;
  font-variant-caps: unicase;
}

.btn-back{
    width: 10em;
    height: 3em;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border:2.5px solid rgb(129, 126, 122);
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    text-align: center;
    
}
.btn-back:hover{
    background-color: rgba(73, 71, 69, 0.473);
    color:rgb(255, 255, 255);
}
